body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 75px;
    margin: 20px auto;
}

#conteneur-cartes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: auto;
}

.card {
    width: 150px;
    height: 250px;
    border: solid black 3px;
    position: relative;
    margin: 5px;
    line-height: 100px;
    font-size: 50px;
    text-align: center;
    border-radius: 8px;
}

.red {
    background: red;
}

.green {
    background: green;
}

.yellow {
    background: yellow;
}

.blue {
    background: blue;
}

.purple {
    background: purple;
}

.orange {
    background: orange;

}

.pink {
    background: pink;
}

.teal {
    background: teal;
}

.black {
    background: black;
}

.silver {
    background: silver;
}

.gray {
    background: gray;
}

.white {
    background: white;
}

.maroon {
    background: maroon;
}

.lime {
    background: lime;
}

.olive {
    background: olive;
}

.fuchsia {
    background: fuchsia;
}

.card {
    background-image: url("test.png");
    background-size: 30px;
}

span {
    text-align: center;
    display: block;
    font-size: 50px;
}